In [1]:
import numpy as np 
import pandas as pd

In [2]:
legend = {'Open':0, 'High':1, 'Low':2,'Close':3, 'Vol':4}

In [3]:
currencies = ['AUDUSD','NZDUSD','USDCAD','EURUSD','USDCHF']

In [4]:
metrics = ['Close','Vol']

In [5]:
fx_columns = {}

for metric in metrics:
    fx_columns[f'fx_{metric}_columns'] = [f'{metric} of {symbol}' for symbol in currencies]

# Access the lists
fx_Close_columns = fx_columns['fx_Close_columns']
fx_Vol_columns = fx_columns['fx_Vol_columns']

In [6]:
fx_Close_columns

['Close of AUDUSD',
 'Close of NZDUSD',
 'Close of USDCAD',
 'Close of EURUSD',
 'Close of USDCHF']

In [7]:
fx_Vol_columns

['Vol of AUDUSD',
 'Vol of NZDUSD',
 'Vol of USDCAD',
 'Vol of EURUSD',
 'Vol of USDCHF']

In [8]:
fx_dataframes = {}

for metric in metrics:
    fx_dataframes[f'fx_{metric}_dataframe'] = pd.DataFrame(columns=fx_columns[f'fx_{metric}_columns'])

# Accessing the dataframes
fx_Close_dataframe = fx_dataframes['fx_Close_dataframe']
fx_Vol_dataframe = fx_dataframes['fx_Vol_dataframe']

In [9]:
fx_Close_dataframe

Empty DataFrame
Columns: [Close of AUDUSD, Close of NZDUSD, Close of USDCAD, Close of EURUSD, Close of USDCHF]
Index: []

In [10]:
fx_Vol_dataframe

Empty DataFrame
Columns: [Vol of AUDUSD, Vol of NZDUSD, Vol of USDCAD, Vol of EURUSD, Vol of USDCHF]
Index: []

In [11]:
for metric in metrics:
    for symbol in currencies:
        data = pd.read_csv(f'{symbol}1440.csv', index_col = 0, sep='\t',header=None)
        fx_dataframes[f'fx_{metric}_dataframe'][f'{metric} of {symbol}'] = data.iloc[:, legend[metric]].copy()

In [12]:
fx_Close_dataframe

,Close of AUDUSD,Close of NZDUSD,Close of USDCAD,Close of EURUSD,Close of USDCHF
0,,,,,
2008-09-29 00:00,0.79890,NaN,NaN,NaN,NaN
2008-09-30 00:00,0.79490,NaN,NaN,NaN,NaN
2008-10-01 00:00,0.79170,NaN,NaN,NaN,NaN
2008-10-02 00:00,0.77275,NaN,NaN,NaN,NaN
2008-10-03 00:00,0.77331,NaN,NaN,NaN,NaN
...,...,...,...,...,...
2024-10-21 00:00,0.66537,0.60226,1.38330,1.08153,0.86551
2024-10-22 00:00,0.66812,0.60431,1.38176,1.07962,0.86554
2024-10-23 00:00,0.66341,0.60051,1.38370,1.07803,0.86677
2024-10-24 00:00,0.66341,0.60073,1.38532,1.08237,0.86591
2024-10-25 00:00,0.66010,0.59755,1.38904,1.07945,0.86637

In [13]:
fx_Vol_dataframe

,Vol of AUDUSD,Vol of NZDUSD,Vol of USDCAD,Vol of EURUSD,Vol of USDCHF
0,,,,,
2008-09-29 00:00,8560,NaN,NaN,NaN,NaN
2008-09-30 00:00,89080,NaN,NaN,NaN,NaN
2008-10-01 00:00,81706,NaN,NaN,NaN,NaN
2008-10-02 00:00,74426,NaN,NaN,NaN,NaN
2008-10-03 00:00,72518,NaN,NaN,NaN,NaN
...,...,...,...,...,...
2024-10-21 00:00,58185,76078.0,115387.0,185319.0,61201.0
2024-10-22 00:00,64223,70869.0,124475.0,195245.0,67413.0
2024-10-23 00:00,92138,64617.0,149680.0,236731.0,64995.0
2024-10-24 00:00,76409,74671.0,149473.0,255090.0,83310.0
2024-10-25 00:00,66127,69768.0,132084.0,156023.0,60718.0

In [14]:
convert_currencies = ['USDCAD','USDCHF']

In [15]:
for symbol in convert_currencies:
    fx_Close_dataframe[f'Close of {symbol}'] = (1 / fx_Close_dataframe[f'Close of {symbol}'])

fx_Close_dataframe

,Close of AUDUSD,Close of NZDUSD,Close of USDCAD,Close of EURUSD,Close of USDCHF
0,,,,,
2008-09-29 00:00,0.79890,NaN,NaN,NaN,NaN
2008-09-30 00:00,0.79490,NaN,NaN,NaN,NaN
2008-10-01 00:00,0.79170,NaN,NaN,NaN,NaN
2008-10-02 00:00,0.77275,NaN,NaN,NaN,NaN
2008-10-03 00:00,0.77331,NaN,NaN,NaN,NaN
...,...,...,...,...,...
2024-10-21 00:00,0.66537,0.60226,0.722909,1.08153,1.155388
2024-10-22 00:00,0.66812,0.60431,0.723715,1.07962,1.155348
2024-10-23 00:00,0.66341,0.60051,0.722700,1.07803,1.153709
2024-10-24 00:00,0.66341,0.60073,0.721855,1.08237,1.154854
2024-10-25 00:00,0.66010,0.59755,0.719922,1.07945,1.154241

In [16]:
updated_currencies = ['AUDUSD','NZDUSD','CADUSD','EURUSD','CHFUSD']

In [17]:
fx_updated_columns = {}

for metric in metrics:
    fx_updated_columns[f'fx_{metric}_columns'] = [f'{metric} of {symbol}' for symbol in updated_currencies]

In [18]:
for metric in metrics:
    fx_dataframes[f'fx_{metric}_dataframe'].columns = fx_updated_columns[f'fx_{metric}_columns']

In [19]:
fx_Close_dataframe

,Close of AUDUSD,Close of NZDUSD,Close of CADUSD,Close of EURUSD,Close of CHFUSD
0,,,,,
2008-09-29 00:00,0.79890,NaN,NaN,NaN,NaN
2008-09-30 00:00,0.79490,NaN,NaN,NaN,NaN
2008-10-01 00:00,0.79170,NaN,NaN,NaN,NaN
2008-10-02 00:00,0.77275,NaN,NaN,NaN,NaN
2008-10-03 00:00,0.77331,NaN,NaN,NaN,NaN
...,...,...,...,...,...
2024-10-21 00:00,0.66537,0.60226,0.722909,1.08153,1.155388
2024-10-22 00:00,0.66812,0.60431,0.723715,1.07962,1.155348
2024-10-23 00:00,0.66341,0.60051,0.722700,1.07803,1.153709
2024-10-24 00:00,0.66341,0.60073,0.721855,1.08237,1.154854
2024-10-25 00:00,0.66010,0.59755,0.719922,1.07945,1.154241

In [20]:
fx_Vol_dataframe

,Vol of AUDUSD,Vol of NZDUSD,Vol of CADUSD,Vol of EURUSD,Vol of CHFUSD
0,,,,,
2008-09-29 00:00,8560,NaN,NaN,NaN,NaN
2008-09-30 00:00,89080,NaN,NaN,NaN,NaN
2008-10-01 00:00,81706,NaN,NaN,NaN,NaN
2008-10-02 00:00,74426,NaN,NaN,NaN,NaN
2008-10-03 00:00,72518,NaN,NaN,NaN,NaN
...,...,...,...,...,...
2024-10-21 00:00,58185,76078.0,115387.0,185319.0,61201.0
2024-10-22 00:00,64223,70869.0,124475.0,195245.0,67413.0
2024-10-23 00:00,92138,64617.0,149680.0,236731.0,64995.0
2024-10-24 00:00,76409,74671.0,149473.0,255090.0,83310.0
2024-10-25 00:00,66127,69768.0,132084.0,156023.0,60718.0

In [21]:
for metric in metrics:
    print(fx_dataframes[f'fx_{metric}_dataframe'][fx_dataframes[f'fx_{metric}_dataframe'].isnull().any(axis=1)])

                  Close of AUDUSD  Close of NZDUSD  Close of CADUSD  \
0
2008-09-29 00:00          0.79890              NaN              NaN
2008-09-30 00:00          0.79490              NaN              NaN
2008-10-01 00:00          0.79170              NaN              NaN
2008-10-02 00:00          0.77275              NaN              NaN
2008-10-03 00:00          0.77331              NaN              NaN
2008-10-05 00:00          0.76301              NaN              NaN
2008-10-06 00:00          0.72200              NaN              NaN
2008-10-07 00:00          0.70710              NaN              NaN
2008-10-08 00:00          0.66605              NaN              NaN
2008-10-09 00:00          0.67323              NaN              NaN
2008-10-10 00:00          0.64233              NaN              NaN
2008-10-12 00:00          0.67911              NaN              NaN
2008-10-13 00:00          0.70810              NaN              NaN
2008-10-14 00:00          0.69470              NaN              NaN
2008-10-15 00:00          0.65595          0.59745              NaN
2008-10-16 00:00          0.68615          0.61360         0.845380
2009-05-03 00:00          0.73484              NaN         0.844431
2017-01-01 00:00          0.72078              NaN         0.744164
2023-01-01 00:00          0.68131              NaN         0.739197
2023-12-24 00:00          0.67838              NaN         0.754575

                  Close of EURUSD  Close of CHFUSD
0
2008-09-29 00:00              NaN              NaN
2008-09-30 00:00              NaN              NaN
2008-10-01 00:00              NaN              NaN
2008-10-02 00:00              NaN              NaN
2008-10-03 00:00              NaN              NaN
2008-10-05 00:00              NaN              NaN
2008-10-06 00:00              NaN              NaN
2008-10-07 00:00              NaN              NaN
2008-10-08 00:00              NaN              NaN
2008-10-09 00:00              NaN              NaN
2008-10-10 00:00              NaN              NaN
2008-10-12 00:00              NaN              NaN
2008-10-13 00:00              NaN              NaN
2008-10-14 00:00              NaN              NaN
2008-10-15 00:00              NaN              NaN
2008-10-16 00:00              NaN         0.881679
2009-05-03 00:00          1.32873         0.879863
2017-01-01 00:00          1.05230         0.981576
2023-01-01 00:00          1.07005         1.083107
2023-12-24 00:00          1.10149         1.169167
                  Vol of AUDUSD  Vol of NZDUSD  Vol of CADUSD  Vol of EURUSD  \
0
2008-09-29 00:00           8560            NaN            NaN            NaN
2008-09-30 00:00          89080            NaN            NaN            NaN
2008-10-01 00:00          81706            NaN            NaN            NaN
2008-10-02 00:00          74426            NaN            NaN            NaN
2008-10-03 00:00          72518            NaN            NaN            NaN
2008-10-05 00:00           4273            NaN            NaN            NaN
2008-10-06 00:00          99451            NaN            NaN            NaN
2008-10-07 00:00         102772            NaN            NaN            NaN
2008-10-08 00:00         110769            NaN            NaN            NaN
2008-10-09 00:00          91340            NaN            NaN            NaN
2008-10-10 00:00          98230            NaN            NaN            NaN
2008-10-12 00:00           3678            NaN            NaN            NaN
2008-10-13 00:00          81796            NaN            NaN            NaN
2008-10-14 00:00          98053            NaN            NaN            NaN
2008-10-15 00:00          93857      1516112.0            NaN            NaN
2008-10-16 00:00          80084      1445917.0       516888.0            NaN
2009-05-03 00:00           2943            NaN        13183.0        41271.0
2017-01-01 00:00            722            NaN          542.0          366.0
2023-01-01 00:00            193            NaN          101.0         7406.0
2023-12-24 00:00             68            NaN            1.0           94.0

                  Vol of CHFUSD
0
2008-09-29 00:00            NaN
2008-09-30 00:00            NaN
2008-10-01 00:00            NaN
2008-10-02 00:00            NaN
2008-10-03 00:00            NaN
2008-10-05 00:00            NaN
2008-10-06 00:00            NaN
2008-10-07 00:00            NaN
2008-10-08 00:00            NaN
2008-10-09 00:00            NaN
2008-10-10 00:00            NaN
2008-10-12 00:00            NaN
2008-10-13 00:00            NaN
2008-10-14 00:00            NaN
2008-10-15 00:00            NaN
2008-10-16 00:00      1923187.0
2009-05-03 00:00        41212.0
2017-01-01 00:00          574.0
2023-01-01 00:00          133.0
2023-12-24 00:00           44.0

In [22]:
filtered_dataframes = {}

for metric in metrics:
    filtered_dataframes[f'filtered_{metric}_dataframe'] = fx_dataframes[f'fx_{metric}_dataframe'].loc['2008-10-16 00:00:00':]

filtered_Close_dataframe= filtered_dataframes['filtered_Close_dataframe']
filtered_Vol_dataframe= filtered_dataframes['filtered_Vol_dataframe']

In [23]:
filtered_Close_dataframe

,Close of AUDUSD,Close of NZDUSD,Close of CADUSD,Close of EURUSD,Close of CHFUSD
0,,,,,
2008-10-17 00:00,0.68827,0.61185,0.845809,1.34052,0.879585
2008-10-19 00:00,0.69444,0.61140,0.845166,1.34418,0.881562
2008-10-20 00:00,0.70225,0.62065,0.839137,1.33373,0.870095
2008-10-21 00:00,0.67460,0.60690,0.823689,1.30052,0.865838
2008-10-22 00:00,0.66355,0.58800,0.795482,1.27701,0.858369
...,...,...,...,...,...
2024-10-21 00:00,0.66537,0.60226,0.722909,1.08153,1.155388
2024-10-22 00:00,0.66812,0.60431,0.723715,1.07962,1.155348
2024-10-23 00:00,0.66341,0.60051,0.722700,1.07803,1.153709
2024-10-24 00:00,0.66341,0.60073,0.721855,1.08237,1.154854
2024-10-25 00:00,0.66010,0.59755,0.719922,1.07945,1.154241

In [24]:
filtered_Vol_dataframe

,Vol of AUDUSD,Vol of NZDUSD,Vol of CADUSD,Vol of EURUSD,Vol of CHFUSD
0,,,,,
2008-10-17 00:00,73459,1107789.0,1779809.0,132203.0,9580952.0
2008-10-19 00:00,2385,62501.0,277126.0,92839.0,425723.0
2008-10-20 00:00,67814,1046929.0,959098.0,712195.0,5925987.0
2008-10-21 00:00,76411,1342718.0,1813691.0,712153.0,8321884.0
2008-10-22 00:00,76989,1526125.0,2023925.0,713145.0,8763108.0
...,...,...,...,...,...
2024-10-21 00:00,58185,76078.0,115387.0,185319.0,61201.0
2024-10-22 00:00,64223,70869.0,124475.0,195245.0,67413.0
2024-10-23 00:00,92138,64617.0,149680.0,236731.0,64995.0
2024-10-24 00:00,76409,74671.0,149473.0,255090.0,83310.0
2024-10-25 00:00,66127,69768.0,132084.0,156023.0,60718.0

In [25]:
for metric in metrics:
    print(filtered_dataframes[f'filtered_{metric}_dataframe'][filtered_dataframes[f'filtered_{metric}_dataframe'].isnull().any(axis=1)])

                  Close of AUDUSD  Close of NZDUSD  Close of CADUSD  \
0
2009-05-03 00:00          0.73484              NaN         0.844431
2017-01-01 00:00          0.72078              NaN         0.744164
2023-01-01 00:00          0.68131              NaN         0.739197
2023-12-24 00:00          0.67838              NaN         0.754575

                  Close of EURUSD  Close of CHFUSD
0
2009-05-03 00:00          1.32873         0.879863
2017-01-01 00:00          1.05230         0.981576
2023-01-01 00:00          1.07005         1.083107
2023-12-24 00:00          1.10149         1.169167
                  Vol of AUDUSD  Vol of NZDUSD  Vol of CADUSD  Vol of EURUSD  \
0
2009-05-03 00:00           2943            NaN        13183.0        41271.0
2017-01-01 00:00            722            NaN          542.0          366.0
2023-01-01 00:00            193            NaN          101.0         7406.0
2023-12-24 00:00             68            NaN            1.0           94.0

                  Vol of CHFUSD
0
2009-05-03 00:00        41212.0
2017-01-01 00:00          574.0
2023-01-01 00:00          133.0
2023-12-24 00:00           44.0

In [26]:
for metric in metrics:
    filtered_dataframes[f'filtered_{metric}_dataframe'].ffill(inplace=True)

/var/folders/gx/shg4k1vs1vg0jmxtrsqbm7cc0000gn/T/ipykernel_30161/3759128458.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_dataframes[f'filtered_{metric}_dataframe'].ffill(inplace=True)

In [27]:
for metric in metrics:
    print(filtered_dataframes[f'filtered_{metric}_dataframe'][filtered_dataframes[f'filtered_{metric}_dataframe'].isnull().any(axis=1)])

Empty DataFrame
Columns: [Close of AUDUSD, Close of NZDUSD, Close of CADUSD, Close of EURUSD, Close of CHFUSD]
Index: []
Empty DataFrame
Columns: [Vol of AUDUSD, Vol of NZDUSD, Vol of CADUSD, Vol of EURUSD, Vol of CHFUSD]
Index: []

In [28]:
filtered_Close_dataframe

,Close of AUDUSD,Close of NZDUSD,Close of CADUSD,Close of EURUSD,Close of CHFUSD
0,,,,,
2008-10-17 00:00,0.68827,0.61185,0.845809,1.34052,0.879585
2008-10-19 00:00,0.69444,0.61140,0.845166,1.34418,0.881562
2008-10-20 00:00,0.70225,0.62065,0.839137,1.33373,0.870095
2008-10-21 00:00,0.67460,0.60690,0.823689,1.30052,0.865838
2008-10-22 00:00,0.66355,0.58800,0.795482,1.27701,0.858369
...,...,...,...,...,...
2024-10-21 00:00,0.66537,0.60226,0.722909,1.08153,1.155388
2024-10-22 00:00,0.66812,0.60431,0.723715,1.07962,1.155348
2024-10-23 00:00,0.66341,0.60051,0.722700,1.07803,1.153709
2024-10-24 00:00,0.66341,0.60073,0.721855,1.08237,1.154854
2024-10-25 00:00,0.66010,0.59755,0.719922,1.07945,1.154241

In [29]:
filtered_Vol_dataframe

,Vol of AUDUSD,Vol of NZDUSD,Vol of CADUSD,Vol of EURUSD,Vol of CHFUSD
0,,,,,
2008-10-17 00:00,73459,1107789.0,1779809.0,132203.0,9580952.0
2008-10-19 00:00,2385,62501.0,277126.0,92839.0,425723.0
2008-10-20 00:00,67814,1046929.0,959098.0,712195.0,5925987.0
2008-10-21 00:00,76411,1342718.0,1813691.0,712153.0,8321884.0
2008-10-22 00:00,76989,1526125.0,2023925.0,713145.0,8763108.0
...,...,...,...,...,...
2024-10-21 00:00,58185,76078.0,115387.0,185319.0,61201.0
2024-10-22 00:00,64223,70869.0,124475.0,195245.0,67413.0
2024-10-23 00:00,92138,64617.0,149680.0,236731.0,64995.0
2024-10-24 00:00,76409,74671.0,149473.0,255090.0,83310.0
2024-10-25 00:00,66127,69768.0,132084.0,156023.0,60718.0